.dashboard {
    width: 100%;
    min-height: 100vh;
    background: rgba(125, 125, 255, 0.5);
    background: linear-gradient(to bottom, rgba(125, 125, 255, 0.5) 70%, rgba(125, 125, 255, 0.1));
    padding: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;


}

.dashboardContainer {
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;

}

.sosButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sosMenuContainer {
    height: 30vh;
    margin-top: 3rem;
}

div.timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.activation-text {
    display: flex;
    flex-direction: column;
}

div.activation-text span {
    text-align: center;
    font-weight: 800;
    color: var(--darkred);
}

.sosMenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    height: 130px;
    width: 100%;

}

.sosMenu button {
    height: 130px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(-180deg, var(--violet), var(--purple));
    border: none;
    font-size: 28px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0 1rem 1.25rem 0 rgba(22, 55, 95, 0.50),
        0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
        0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset;

}

.sosMenu button:hover {
    background-image: none;
    background-color: var(--purple);
    box-shadow: inset rgba(0, 0, 0, 0.9) 0 0 10px,
        inset black 0 0 20px,
        inset var(purple) 2px 2px 20px;
}

.sosMenu button.selected {
    background-color: var(--orange);
    background-image: none;
    box-shadow: inset rgba(0, 0, 0, 0.1) 5px 5px 30px,
        rgba(0, 0, 0, 0.5) 0 0 4px;
}

div.sosButtonContainer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.sosButton {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 200px;
    width: 35vw;
    border-radius: 50px;
    background-color: var(--red);
    color: white;
    box-shadow:
        inset rgb(222, 17, 17) 0 2px 35px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px,
        inset rgb(245, 240, 240, 0.9) 0 0 5px,
        rgba(25, 10, 25, 0.65) 5px 5px 15px;
    text-shadow: 1px 1px 1px black;
    margin: 1rem;
    border: solid 1px red;
}

button.sosButton span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 82px;
}

button.sosButton:hover {
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

button.sosButton:active {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
        inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
        inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
        inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
}

button.sosButton.flash {
    animation: flash 0.5s linear infinite;
    pointer-events: none;
}

@keyframes flash {
    from {
        background-color: red;
    }

    to {
        background-color: var(--orange);
        box-shadow: 5px 5px 5px var(--orange);

    }
}

@keyframes pulse {
    0% {
        box-shadow:
            inset rgb(222, 17, 17) 0 2px 35px,
            inset rgba(0, 0, 0, 0.25) 0px -10px 30px,
            rgb(245, 240, 240, 0.5) 0 0 3px,
            rgba(243, 6, 6, 0.7) 0 0 15px;

    }

    30% {
        box-shadow:
            inset rgb(222, 17, 17) 0 2px 35px,
            inset rgba(0, 0, 0, 0.25) 0px -10px 30px,
            rgba(250, 250, 250, 0.7) 0 0 8px,
            rgba(243, 6, 6, 1) 0 0 20px;

    }

    100% {
        box-shadow:
            inset rgb(222, 17, 17) 0 2px 45px,
            inset rgba(0, 0, 0, 0.35) 0px -10px 30px,
            0 0 11px rgba(250, 250, 250, 0.8),
            0 0 20px rgba(243, 97, 6, 0.9),
            0 0 40px rgba(248, 93, 93, 0.769);

    }
}

@media screen and (max-width: 850px) {
    button.sosButton {
        height: 30vh;
        width: 50vw;
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    button.sosButton {
        height: 25vh;
        width: 70vw;
    }

    button.sosButton span {
        font-size: 50px;
    }

    .sosMenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: 1rem;
        width: 100%;

    }

    .sosMenu button {
        height: 10vh;
        width: 40vw;
        margin: auto;
        font-size: 20px;
    }
}

@media (prefers-reduced-motion) {
    button.sosButton.flash {
        animation: pulse 1s ease-in-out infinite alternate;
        background: linear-gradient(100deg, var(--red), red);
    }
}