.dashboard {
    width: 100%;
    min-height: 75vh;
    background: rgba(125, 125, 255, 0.5);
    background: linear-gradient(to bottom, rgba(125, 125, 255, 0.5) 70%, rgba(125, 125, 255, 0.1));
    padding: 2rem;
    border-radius: 20px;
    overflow: hidden;

}

.sosButtonContainer {
    /*   display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    height: 50vh;


}

.sosMenuContainer {
    height: 30vh;
    margin-top: 3rem;
}

div.activation-text {
    display: flex;
    flex-direction: column;

}

div.activation-text span {
    text-align: center;
    font-weight: 800;
    color: var(--darkred);
}