.header {
  background-color: black;
}

.appBar {
  height: 30vh;
  padding: 0;
  position: relative;
  width: 100%;
}

.signInDiv {
  padding: 0.5rem;
  display: flex;
  height: 8vh;
  width: 100vw;
}

.noDisplay {
  display: none;
}

.toolBar {
  justify-content: space-between;
  background-color: var(--orange);
  height: 30vh;
}

.userImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 1rem;
}

.signInButton {
  color: 'white';
  margin-left: '2rem';
  border: '2px solid white';
  cursor: pointer;
}

.signInButton:active {
  background-color: var(--violet);
}

#menuButton {
  font-size: 56px;
  color: white;
}

#menuPopover {
  width: 90vw;
}

@media screen and (min-width: 480px) {
  #menuPopover {
    width: 90vw;
  }
}

@media screen and (min-width: 680px) {
  .largeScreen {
    display: inline-block;
  }

  #menuPopover {
    width: 50vw;
  }
}