.appBar {
    height: 25vh;
    padding: 0;
}

.signInDiv {
    height: auto;
}

.toolBar {
    justify-content: space-between;
    background-color: var(--orange);
}

.userImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 1rem;
}

#menuButton {
    font-size: 56px;
    color: white;

}

#menuPopover {
    width: 90vw;

}

#signOutButton {
    color: white;
}

@media screen and (min-width: 480px) {
    #menuPopover {
        width: 90vw;
    }
}

@media screen and (min-width: 680px) {

    .largeScreen {
        display: inline-block;
    }

    #menuPopover {
        width: 50vw;
    }
}