

.editContactsDialog input {
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

.editContactForm {
    padding: 0.5rem;
}

.editContactForm label {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: left;
    width: 200px;
}

.editContactForm input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: inset 0 0 2px gray;
    margin: 0.5rem;

}

.viewsTable tbody :nth-child(1){
    background-color: rgba(125, 125, 255, 0.5);;
}