button.sosButton {
    height: 200px;
    line-height: 200px;
    width: 350px;
    border-radius: 50px;
    background-color: var(--red);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 82px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    border: solid 3px red;
}

button.sosButton:hover {
    background-color: red;
}


button.sosButton.flash {
    animation: flash 0.5s linear 6;
}

@keyframes flash {
    from {
        background-color: red;
    }

    to {
        background-color: var(--orange);
        box-shadow: 5px 5px 5px var(--orange);
    }
}