.sosMenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 130px;
    width: 100%;
    background: transparent;

}

.sosMenu button {
    height: 130px;
    width: 100%;
    margin: 0;
    background-color: var(--violet);
    border: 3px solid;
    font-size: 32px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.sosMenu button:hover {
    border: 6px solid var(--purple);
}

.sosMenu button.selected {
    background-color: var(--purple);
}

@media screen and (max-width: 600px) {}