* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #FEA724;
  --red: #EC5D3D;
  --purple: #9F1EB4;
  --blue: #4C49E5;
  --violet: #C299DB;
  --darkred: #620C0C;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}